* {
  margin: 0;
  padding: 0;
}
#app {
  box-sizing: border-box;
  font-size: 12px;
  font-family: SimSun, Avenir, Helvetica, Arial, sans-serif;
  color: #ffffff;
  width: 100%;
}
html,
body {
  width: 100%;
  padding: 0;
  background-color: #000000;
  --scrollbarWidthDefault: 5px;
}
html,
body,
div,
span {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: var(--scrollbarWidthDefault);
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #484848;
  border-radius: 10px;
}
